// _colors.scss
$color-red: #f63636;
$color-blue: #3a36f6;
$color-purple: #646cff;
$color-purple2: #535bf2;
$color-green: #36f69a;
$color-orange: #f69e36;
$color-yellow: #f2f636;
$color-dark: #2d2d38;
$color-gray: #a0a0bb;
$color-gray2: #dddde2;
$color-light: #ffffff;
